@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

html {
	height: 100%;
}

body {
	overflow: hidden;

	/*background:  no-repeat;*/
	/*background-repeat: no-repeat;*/
	height: 100%;
	/*	padding-bottom:44px;	/*	This prevents the scroller to lock if the user swipes down outside of the screen.
							 	NOT needed if in home screen mode and on Android. */
}

#preloader {
	position: absolute;
	top: 50%;
	left:50%;
	margin-left: -106px;
	margin-top: -26px;
}

#preloader .animation {
	margin-bottom: 12px;
}

#page {
	height: 100%;
}

#page #toolbar {
	display: none;
}

#scroller h1 {
	font-size:25px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	margin-left: 27px
}

#main-wrapper {
	height:100%;		/*3 Of course you need to specify the object height */
	
	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;

	text-align: justify;
}

#scroller {
	/*height: 2000px;*/
	padding-bottom:60px;
}

.video-wrapper {
	/*height:200px;		 Of course you need to specify the object height */

	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */

	width:100%;
}

.video-scroller {
	height:100%;
	padding:0;
	/*width: 10550px;*/
}

.video-scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

.video-scroller li {
	float:left;

	display:block;
	vertical-align:middle;
	width: 170px;
	margin-left: 27px;
	margin-right: 27px;
	height:100%;
	font-size:14px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #c41230;
	text-align: center;
}

.video-scroller li a{
	text-decoration: none;
	color: #c41230;
}

.video-scroller li img {
	border: 5px solid rgba(65, 65, 65, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#side-bar-wrapper {
	position: relative;
	display: block;
	float: left;
	background-color: #2e2e2e;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
}

#side-bar-wrapper .column1 {
	float: left;
}

#side-bar-wrapper h2 {
	font-size: 30px;
	margin-bottom: 5px;
}

#side-bar-wrapper h3 {
	font-size: 18px;
}

#side-bar-wrapper p {
	font-size: 15px;
}

#side-bar-wrapper .textwrap {
 /*margin-left: 30px;*/
}

#side-bar-wrapper #filter {
	background: #fff;
	padding: 15px;
	color: #000;
}

#side-bar-wrapper #filter h3{
	margin: 0;
	color: #c41230;
	font-size: 20px;
}

#side-bar-wrapper #filter .filter-option {
	margin: 5px 0;
	list-style: none;
}

#side-bar-wrapper #filter ul.filter-option li {
	padding: 5px 0;
}


#slideshow-wrapper {
	width:267px;
	height:267px;
	float:left;
	
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;

	background:#fff;
	margin-left: 28px;
}

#slideshow-scroller {
	width:801px;
	height:100%;
	float:left;
	padding:0;
}

#slideshow-scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#slideshow-scroller li {
	display:block; float:left;
	width:267px; height:267px;
	text-align:center;
	font-family:georgia;
	font-size:18px;
	line-height:140%;
}

#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	position: absolute;
	z-index: 2;
	width:267px;
	margin-left: 100px;
	margin-top: 245px;
	z-index: 12;
	/*padding:12px 0 0 30px;*/
}

#indicator > li {
	text-indent:-9999em;
	width:12px; height:11px;
	background:#ddd;
	overflow:hidden;
	margin-right:4px;
	background: url('../img/slideIndicator.png') no-repeat bottom;
}

#indicator > li.active {
	height: 10px;
	background-position: top;
}

#indicator > li:last-child {
	margin:0;
}

#side-bar-wrapper .toogle-button {
	margin-top: 20px;
	margin-right: 8px;
	float: right;
}

#side-bar-wrapper .toogle-button .img {
	width: 32px;
	height: 32px;
}
 
#side-bar-wrapper.collapse .toogle-button .img {
	background-position-y: bottom;
}

#side-bar-wrapper.expand .toogle-button .img{
	background-position-y: top;
}

#main-wrapper #categories-scroller {
	padding-bottom: 50px;
}

#footer {
	position:fixed;
	display: block;
	height: 43px;
	width: 100%;
	bottom:0;
	z-index: 10;
	background: #fff;
}

.page-home #footer #footer-left {
	display:  none;
}

#footer #footer-left {
	margin: 5px 0 0 5px;
	float: left;
}

#footer #footer-right {
	margin-top: -12px;
	float: right;
}

/*Retina Display*/
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	#side-bar-wrapper .toogle-button .img {
		background-size: 32px 64px;
	}

	.landscape #side-bar-wrapper .toogle-button  .img {
		background-image: url('../img/HorizontalToogle@2x.png');
	}

	.portrait #side-bar-wrapper .toogle-button  .img {
		background-image: url('../img/VerticalToogle@2x.png');
	}

	#indicator > li {
		background: url('../img/slideIndicator@2x.png') no-repeat bottom;
		background-size: 12px 21px;
	}

	#footer {
		/*background: #fff url('../img/Footer-left@2x.jpg') no-repeat;*/
		background-size: 248px 43px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px) {
	
	body {
		background-image: url('../img/VerticalBackground.jpg');
	}

	#page #toolbar {
		display: block;
		background: #3a3a3a;
		height: 43px;
	}

	#side-bar-wrapper {
		position: absolute;
		height: 52px;
		width: 100%;
		z-index: 11;
	}

	#side-bar-wrapper #picture-slide {
		clear: both;
		/*float: none;*/
		/*display: none;*/
	}

	#side-bar-wrapper .textwrap {
		float: left;
		margin-right: 0px;
		margin-left: 0px;
	}

	#side-bar-wrapper .toogle-button {
		position: absolute;
		z-index: 15;
		bottom: 10px;
		right: 10px;
	}

	#side-bar-wrapper .toogle-button .img {
		background-image: url('../img/VerticalToogle.png');
	}
	
	#side-bar-wrapper.collapse {
		height: 52px;
		margin-top: 0 !important;
	}

	#side-bar-wrapper {
		height: 100%;
		margin-top: 0 !important;
	}

	#side-bar-wrapper.collapse .column1{
		/*margin-left: 0;*/
		display: none;
	}

	#side-bar-wrapper.expand .column1{
		display: block;
		/*margin-left: 0px;	*/
	}

	#main-scroller-wrapper {
		margin-top: 52px;
	}

	#scroller h1 {
		margin-left: 15px;
	}

	#footer #footer-right {
		margin-top: 0;
	}
	
	#footer {
		height: 27px;
		background: transparent none;
	}

	#footer #footer-left {
		margin: -10px 0 0 7px;
	}

	#footer #footer-right img {
		width: 254px;
		height: 27px;
	}
}

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
@media only screen and (min-width : 768px) and (max-width : 1023px)  {
	
	body {
		background-image: url('../img/VerticalBackground.jpg');
	}

	#side-bar-wrapper {
		float: left;
		width:100%;
		height: 355px;
		overflow: hidden;
	}

	#side-bar-wrapper.collapse {
		margin-left: 0px;
		margin-top: -300px;
	}

	#side-bar-wrapper.expand {
		margin-left: 0px;
	}

	#side-bar-wrapper .toogle-button {
		float: right;
		margin-right: 10px;
	}
	
	#side-bar-wrapper .toogle-button .img {
		background-image: url('../img/VerticalToogle.png');
	}

	.textwrap {
		float: left;
		margin-right: 342px;
	}

	#picture-slide {
		float: left;
		width: 267px; 
		margin-left: -320px; /*Set left margin to -(RightColumnWidth) */
		margin-top: 23px;
		/*background: #FDE95E;	*/
	}

	#picture-slide .slideshow {
		margin: 25px 20px 0 40px;
	}

	#main-wrapper {
		clear: both;
	}
}

/* iPads (landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {*/
@media only screen and (min-width : 1024px)  {
	body {
		background-image: url('../img/HorizontalBackground.jpg');
	}

	#side-bar-wrapper {
		width: 342px;
		min-height: 100%;
	}

	#side-bar-wrapper.collapse {
		margin-left: -297px;
	}

	#side-bar-wrapper.expand {
		margin-left: 0px;	
	}

	#side-bar-wrapper .column1 {
		width: 265px;
		margin-left: 30px;
	}

	#side-bar-wrapper .toogle-button .img {
		background-image: url('../img/HorizontalToogle.png');
	}
}

/**
 * Video Screen
 */
#video-inner {
	padding-bottom: 80px;
}

#video-inner h1 {
	font-size: 30px;
	font-family: 'PT Sans', sans-serif;
	/*text-transform: uppercase;*/
	/*text-transform:capitalize;*/
}

#video-inner #about-video {
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#video-inner #about-video h2{
	font-size: 18px;
}

#video-inner #about-video {
	margin: 30px
}

#video-inner #about-video p{
	font-size: 15px;
	text-align: justify;
}

#video-inner #about-video #pdf{
	text-align: center;
	margin-top: 30px
}

.landscape #video-inner {
	padding-bottom: 0;
}

.landscape #video-inner #about-video {
	display: none;
}

.page-video.landscape  #footer {
	display: none;
}

/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}

#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}

#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	/*background:url(../img/waitanimation.gif) 0 0 no-repeat;
	-webkit-transform:rotate(-180deg) translateZ(0);
	-webkit-background-size:30px 30px; background-size:30px 30px;
	background-position-y: 5px;
	background-position-x: 6px;*/
	
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;

}

/**
 * Animation on update
 */
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
