<h1><%= title %></h1>
<div class="video-wrapper" >
	<div class="video-scroller">

		<ul class="video-list">
			<% _.each(videos, function(project){ %>
				<li><%= project.get("name") %></li> 
			<% }); %>
		</ul>
	</div>
</div>