<div class="column1">
	<div class="textwrap">
		<h2>Overview</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>


	<div id="filter">
		<div id="categories">
			<h3>Categories</h3>
			<ul class="filter-option">
				<% _.each(categories, function(category){ %>
					<li>
						<input type="checkbox" id="option1">
						<label for="option1">Option 1</label>
					</li>
				<% }); %>
			</ul>
		</div>
		<div id="brand-products">
			<h3>Brands & Products</h3>
			<ul class="filter-option">
				<% _.each(brands, function(brand){ %>
					<li>
						<input type="checkbox" id="option1">
						<label for="option1">Option 1</label>
					</li>
				<% }); %>
			</ul>
		</div>
	</div>

</div>

<div class="toogle-button">
	<div class="img"></div>
</div> 