	<div id="scroller">
		<div id="main-scroller-wrapper">
			
			<div id="pullDown">
				<span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
			</div>

			<% _.each(categories, function(category,categoryIndex){ %>

				<h1><%= category.get('name') %></h1>
			
				<div class="video-wrapper" >
					<div class="video-scroller">
						<ul>

							<% _.each(category.get('videos').models, function(video,index){ %>
								<li>
									<a href="#/video/<%= categoryIndex %>/<%= index %>">
										<img src="<%= video.get('Thumbnail') %>" width="170" height="121" alt="Thumbnail" />
										<p class="title"><%= video.get('title') %></p>
									</a>
								</li> 
							<% }); %>
						</ul>
					</div>
				</div>

			<% }); %>
		</div>
	</div>




