<div id="video-inner">
	<div id="video">
		<video src="<%= video.get('Video Link') %>" width="100%" controls >
			Your browser does not support the video tag.
		</video>
	</div>
	<div id="about-video">
		<h1><%= video.get('title') %></h1>
		<p><%= video.get('Body') %></p>
		
		<!-- <div id="pdf"><img src="img/DownloadPDF.png" alt="Download PDF" /></div> -->
	</div>
</div>